/* common style */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
 
  background-color: #F15B22;
  padding: 20px 25px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.202);
  text-decoration: none;
  color: white;
}

/* ================= */
.banner{
  background-image: url("../images/banner/banner1.png");
  max-width: 1600px;
  width: 100%;
  height: 808px;
  background-size: cover;
  padding: 216px 230px 364px 845px;
}

.banner-conteiner{
  max-width: 525px;
  text-align: right;
}
.banner-conteiner h1{
  font-size: 65px;
  color: #151414;
  margin-bottom: 24px;
}

.banner-conteiner p{
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 32px;
}

.my-failure{
  margin: 130px auto 0;
  width: 67%;
  max-width: 1072px;
}
.my-failure-conteiner{
  display: flex;
  gap: 87px;
  align-items: center;
}

.my-failure-conteiner img{
  width: 560px;
}

.my-failure-conteiner .prevYear h2{
  font-size: 40px;
  color: 151414;
  margin-bottom: 24px;
}

.my-failure-conteiner .prevYear p{
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  margin-bottom: 16px;
}

.my-failure-conteiner .prevYear .fail{
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}

.my-failure-conteiner .prevYear .fail i{
  font-size: 24px;
  color: #16D887;
}

.plans{
  width: 71%;
  max-width: 1140px;
  margin: 130px auto 0;
  text-align: center;
}

.plans h1{
  font-size: 40px;
  color: #151414;
  margin-bottom: 56px;
}

.plans .plan-conteiner{
  display: flex;
  justify-content: space-between;
}

.plans .plan-conteiner .plan img{
 width: 93px;
 margin-bottom: 24px;
}

.plans .plan-conteiner .plan h3{
  font-size: 30px;
  color: #151414;
  margin-bottom: 16px;
}

.plans .plan-conteiner .plan p{
  font-size: 25px;
  color: #737272;
  font-weight: 600;
}

.watch{
  width: 71%;
  height: 300px;
  max-width: 1140px;
  margin: 130px auto 0;
  background-image: url("../images/gradient2.png") , url("../images/watch.png");
  border-radius: 8px;
  padding: 60px 64px;
}

.watch .watch-conteiner{
  max-width: 460px;
}

.watch .watch-conteiner h1{
  font-size: 40px;
  color: white;
  margin-bottom: 24px;
}

.watch .watch-conteiner .btn{
  background-color: white;
  color: #F15B22;
  display:inline-block;
}

footer{
  width: 100%;
  max-width: 1600px;
  background-color: #151414;
  margin-top: 130px;
  padding-top: 130px;
  padding-bottom: 130px;
}

.footer-conteiner{
  width: 71%;
  max-width: 1140px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  color: #f8f8f8;
}
.footer-conteiner .future{
  max-width: 485px;
}
.footer-conteiner h1{
  font-size: 45px;
  margin-bottom: 16px;
}

.footer-conteiner p{
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 24px;
}

.footer-conteiner .img-conteiner{
  display: flex;
  gap: 17px;
}

.footer-conteiner .img-conteiner img{
  width: 47px;
}
.footer-conteiner .subs {
  
}
.footer-conteiner .subs h4{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 30px;
}

.footer-conteiner .subs input{
  border: 1px solid #f8f8f8;
  color: #f8f8f8;
  background-color: #151414;
  font-size: 21px;
  padding: 21px;
  border-radius: 8px;
  margin-bottom: 16px;
  display: block;
}

.footer-conteiner .subs .btn{
  background-color: #f8f8f8;
  color: #F15B22;
  display: inline-block;
}